.cvDescargable {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  padding-block: 10px;
  background-color: #1cb9e4;
  width: 30%;
  margin: 1rem 0;
  margin-top: 10px;
  text-align: center;
}
.cvDescargable a {
  text-decoration: none;
  color: black;
}

.cvDescargable a:hover {
  color: white;
}

.cvDescargable a:active {
  background-color: #1cb9e4;
}

@media (max-width:576px){
  .cvDescargable{
    display: flex;
    justify-content: center;
    width: 90vw;
  }
}


