.contenedor {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  margin-top: 15px;
  max-width: 100vw;
}
.ped {
  background-color: darkgreen;
  border: saddlebrown solid 10px;
  color: white;
  padding: 5px;
  cursor: url("/cursorTiza.png"), auto;
  text-align: center;
  font-family: 'Patrick hand', cursive;
}
.tec{
    background-color: lightgray;
    padding:5px;
    text-align: center;
    border: white solid 10px;
    font-family: 'Roboto Mono', monospace;
    cursor: url("/mouse.png"), auto;
}
.ped,
.tec {
  margin-inline: 20px;
}

ul {
  text-decoration: none;
  list-style: none;
}
h2 {
  justify-self: center;
}
