.main {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}


@media (max-width: 576px) {
body{
  display: flex;
  flex-direction: column;
  align-items: center;

}


  footer {
      position: fixed;
      bottom: 0;
      text-align: center;
    }
}


