.navbar {
  background-color: #1cb9e4;
  background-image: linear-gradient(to right top, #1cb9e4, #c4d3dd);
  width: 100vw;
}
nav img {
  border-radius: 50px;
}

@media (min-width: 576px) {
  .nav-link.active {
    text-decoration: none;
    color: darkblue;
    border-bottom: solid 3px darkblue;
  }
}
