html, body{
  height: fit-content;
  width: 100vw;
  margin: 0;
  overflow-x: hidden;
}
body {
    background-color: #64b0c5;
    background-image: linear-gradient(to right top, #8addf4, #c4d3dd);
  /* cursor: url("/rauli.png"), auto; */

  } 


  @media (max-width: 576px) {
    body{max-width: 100%; margin: 0;}


    .descripción img {
      display: none;
    }
    .descripción {
      max-width: 90vw;
    }


 
  }