body {
  display: flex;
  justify-content: center;
}
.portafolio {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.portEle img {
  height: 250px;
  width: auto;
}
.portEle {
  background-color: white;
  border: solid darkblue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-block: 20px;
  padding: 30px;
}

.portEle a {
  text-decoration: none;
  color: black;
  cursor: pointer;
}

.portEle a:hover {
  text-decoration: underline blue;
}

.portTitle {
   
    margin-top: 10px;
}