body {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.portafolio {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.portEle img {
  height: 250px;
  width: auto;
}
.portEle {
  background-color: white;
  border: solid darkblue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-block: 20px;
  padding: 30px;
  width: 50vw;
  border-radius: 10px;
}

.portEle a {
  text-decoration: none;
  color: black;
  cursor: pointer;
}

.portEle a:hover {
  text-decoration: underline blue;
}

.portEle p{
  margin-inline: 150px;
}

.portTitle {
   
    margin-top: 10px;
}

@media (max-width: 768px) {

  .portEle {
    width: 80vw;
  }
  .portEle img {
    height: auto;
    width: 60vw;
  }
  .portEle p{
    margin-inline: 0;
    font-size: 15px;
  }
  body{
    overflow-x: hidden;
    margin-inline: 0;
  }

  @media (max-width:576px){
    footer {
        position: relative;
        bottom: 0;
        text-align: center;
      }
  }

}
