body {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.portafolio {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.portEle img {
  height: 250px;
  width: auto;
}
.portEle {
  background-color: white;
  border: solid darkblue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-block: 20px;
  padding: 30px;
  width: 70vw;
}

.portEle a {
  text-decoration: none;
  color: black;
  cursor: pointer;
}

.portEle a:hover {
  text-decoration: underline blue;
}

.portTitle {
   
    margin-top: 10px;
}

@media (max-width: 768px) {
  .portEle img {
    height: auto;
    width: 60vw;
  }
  body{
    overflow-x: hidden;
  }
}